

  .right-section {
    width: 78%;
    margin-top: -800px;
    margin-left: 200px;
    padding: 20px;
    
  }
  .big-curvy-textbox {
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 10px 20px;
    width: 200px; /* Adjust width as needed */
  }
  
  .filters h2, .additional-info h2, .job-details h2 {
    margin-bottom: 10px;
  }
  
  .filters label {
    display: block;
    margin-bottom: 5px;
  }
  .number {
    color: #999; /* Light color for the number */
    margin-left: 80px; /* Add some space between label and number */
  }
  .outline-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px; 
    margin-bottom: 10px; /* Add this line to create a gap between boxes */


  }