<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Three Sections Layout</title>
  <link rel="stylesheet" href="karishu.css">
</head>
<body>
  <div>

<div class="top-section">
<h2 class="name">Mamlesh VA</h2>
    <div class="name-info" style="margin-right: auto;" >
        
        <p class="job-title" >
            <a href="https://github.com/mamleshva">GitHub</a> |
            <a href="https://www.linkedin.com/in/mamlesh-va-55a356233/">LinkedIn</a> |
            <a href="mailto:your.email@gmail.com">Gmail</a>
        </p>
    </div>
    <div class="buttons" style="margin-left: auto;">
        <a class="button" href="logo.png">Resume</a>
        <a class="button" href="logo.png">CV</a>
    </div>
</div>
</div>
  <div class="main-container">
    <div class="left-sections">
      <h2 class="section-title" id="personal">Personal Information</h2>
      <p class="info"><span >City:</span> Chennai</p>
      <p class="info"><span> College:</span> Vellore Institute of Technology</p>
      <p class="info"><span >Field of Study:</span> Information Technology</p>
      <p class="info"><span >Date Of Birth:</span> 06.03.2004</p>
            
      <h3 class="section-title">Hobbies:</h3>
      <p>Coding</p>
      <p>Badminton</p>
      <p>Watching movies and series</p>
      <p>Exploring new things</p>
      <h3 class="section-title">Soft Skills:</h3>
      <p>Team work</p>
      <p>Effective communication</p>
      <p>Leadership qualities</p>
    </div>
    <div class="right-sections">
      <h2 class="section-title">Candidate information</h2>
      <h3 class="section-title">Technical Skills:</h3>
      <p>C, C++, Python, Java</p>
      <h3 class="section-title">Resume Last Updated:</h3>
      <p>6 months ago</p>
      <h3 class="section-title">Work Experience:</h3>
      <p>Title Of Last job: Java Developer</p>
      <p>Company Of Latest Job: Infenion</p>
      <p>Years of Experience: 3</p>
      <h3 class="section-title">Certifications:</h3>
      <p>SQL Intermediate</p>
      <p>AWS Certification</p>
      <p>Google cloud certification</p>
      <p>NPTEL - Leadership and team effectiveness, advanced course in social psychology</p>
    </div>
  </div>
  </div>
</body>
</html>